@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
    font-size: 50;
    color: red;
    background-color: violet;
}

/* Custom style cho dropdown của Ant Design */
.custom-dropdown .ant-dropdown-menu {
  min-width: 150px; /* hoặc 200px tùy bạn */
}